name: Direct download and Upload to IUTBOX

on:
  workflow_dispatch:
    inputs:
      file_url:
        description: 'File URL to download'
        required: true

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Set file name from URL
        id: filename
        run: |
          FILENAME=$(basename "${{ github.event.inputs.file_url }}")
          echo "FILENAME=$FILENAME" >> $GITHUB_ENV

      - name: Download file
        run: |
          wget -O /tmp/${FILENAME} "${{ github.event.inputs.file_url }}"

      - name: Upload to IUTBOX
        run: |
          curl -u ${{ secrets.IUTBOX_USER }}:${{ secrets.IUTBOX_PASS }} \
          -T /tmp/${FILENAME} \
          "https://iutbox.iut.ac.ir/remote.php/dav/files/${{ secrets.IUTBOX_USER }}/${FILENAME}"
